<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="WWI Class Project EJM - 1°OIB°3 - Dr.Knight - year 2020-21">
    <meta name="description"
        content="Presentation site of our WWI Class Project with all the ressources and works that were provided by Première OIB°3 students of Dr.Knight in EJM Lille.">
    <meta name="keywords" content="ejm,map,wwi,project,knight,lille,worldwarone,">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Adrien Dumont">

    <link rel="icon" type="image/png" href="./assets/logo.png" />

    <title>WWI Class Project EJM - OIB°3 - Dr.Knight</title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/style.css">
</head>