<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./assets/logo.png" />
    <title>MapX - Smart Tech - Interactive Online Map</title>

    <meta name="title" content="MapX - Smart Tech - Interactive Online Map - EJM Lille">
    <meta name="description"
        content="MapX is an Interactive Online Map of Northern France created as part of our WWI School Project in EJM Marcq-en-Baroeul, lead by Dr.Knight.">
    <meta name="keywords" content="map,wwi,,ejm,mapx,nfc">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Adrien Dumont">


    <link rel="stylesheet" href="styles/home.css">
    <script src="/script/text.js" defer></script>
</head>

<body>
    <main>
        <div class="header">
            <h1 class="brandName">NFC TECHNOLOGY</h1>
            <p class="advice">Scan with your phone the names of each city to unlock the full potential of this
                interactive map.</p>
        </div>
        <img class="map" src="assets/map.png" alt="Image of a world map">
        <div class="buttonGroup">
            <a href="/poems">
                <button>POEMS</button>
            </a>
            <a href="/images">
                <button>IMAGES</button>
            </a>
            <a href="/about">
                <button>ABOUT</button>
            </a>
        </div>
    </main>
</body>

</html>