<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./assets/logo.png" />
    <title>MapX - Smart Tech - Interactive Online Map</title>

    <link rel="stylesheet" href="styles/home.css">
    <script src="/script/text.js" defer></script>
</head>
<body>
    <main>
        <div class="header">
            <h1 class="brandName">NFC TECHNOLOGY</h1>
            <p class="advice">Scan with your phone the names of each city to unlock the full potential of this interactive map.</p>
        </div>
        <img class="map" src="assets/map.png" alt="Image of a world map">
        <div class="buttonGroup">
            <a href="/poems">
                <button>POEMS</button>
            </a>
            <a href="/images">
                <button>IMAGES</button>
            </a>
            <a href="/about">
                <button>ABOUT</button>
            </a>
        </div>
    </main>
</body>
</html>