@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    background: #353535;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card div{
    font-size: 1rem;
    color: #fff;
    background-color: black;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:1rem;
    opacity: 0.8;
    border-radius: 4px;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}