<%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main style="width:100%;padding:10vh 15vw">
        <h2>About Page</h2>
        <hr>
        <video style="width:100%" autoplay="true" controls src="./assets/Rio.mp4"></video>
    </main>
</body>