<%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/navbar.ejs') %>
    <main style="width:100%;padding:10vh 15vw">
        <h2>About Page</h2>
        <hr>
    </main>
</body>