<%- include('../partials/header.ejs') %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <main style="width:100%;padding:10vh 15vw">
        <h2>Contact</h2>
        <p class="text-muted">Leave us a review !</p>
        <hr>
        <form action="/web/app/contact/review" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="e.g. John Doe">
                <div id="name" class="form-text">You can leave this box blank and send your review anonymously.</div>
            </div>
            <div class="mb-3">
                <label for="review" class="form-label">Message:</label>
                <textarea class="form-control" id="review" placeholder="Write your review here..." rows="3"
                    required></textarea>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" checked required>
                    <label class="form-check-label" for="invalidCheck">
                        I confirm my message is courteous and benevolent.
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Send Review</button>
            <button type="button" onclick="cancel()" class="btn btn-outline-secondary">Cancel</button>
        </form>
        <% if(ok){%>
        <hr>
        <div class="alert alert-success" role="alert">
            Your review was sent with success
        </div>
        <%}%>
    </main>
    <script>
        function cancel() {
            document.getElementById("name").value = "";
            document.getElementById("review").value = "";
        }
    </script>
</body>