<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <main>
        <h1>WWI Class Project - EJM</h1>
    </main>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./script/script.js"></script>
    <%- include("../partials/footer.ejs") %>
</body>
</html>