<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="WWI Class Project EJM - 1°OIB°3 - Dr.Knight - year 2020-21">
    <meta name="description"
        content="Presentation site of our WWI Class Project with all the ressources and works that were provided by Première OIB°3 students of Dr.Knight in EJM Lille.">
    <meta name="keywords" content="ejm,map,wwi,project,knight,lille,worldwarone,">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Adrien Dumont">

    <link rel="icon" type="image/png" href="./assets/logo.png" />

    <title>WWI Class Project EJM - OIB°3 - Dr.Knight</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <h1 class="title">Ecole Jeannine Manuel - Lille</h1>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/resources">Resources</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="left">
            <h1 class="brandname">
                WW1 Class Project
            </h1>
            <h2 class="presentationText">
                Hi everyone,
                We are Première High-School Student studying in EJM Lille.
            </h2>
            <h2 class="presentationText">
                With this website, we want to reunite all the work we did on this project.
            </h2>
            <div class="buttonGroup">
                <a href="/about">
                    <button class="button button1">
                        Learn more
                    </button>
                </a>
                <a href="/resources">
                    <button class="button button2">
                        Resources
                    </button>
                </a>
            </div>
        </div>
        <div class="right">
            <img class="presentationImage"
                src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Silhouette-279799_1280.png" alt="Image WW1">
        </div>
    </main>
</body>

</html>