<%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/navbar.ejs') %>
    <main style="width:100%;padding:10vh 15vw">
        <h2>Local Case Study</h2>
        <hr>
        <p>In order to carry out this project, each of us chose a town in Hauts-de-France to then carry out a local case
            study on it.</p>
        <p class="text-muted">These local case studies are also accessible by scanning the nfc located behind certain
            city names.</p>
        <hr>
        <ul class="list-group list-group-horizontal" class="width:100%">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-xl">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <ul class="list-group list-group-horizontal-xxl">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </main>
</body>