<%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <h2>Local Case Study</h2>
        <hr>
        <p>In order to carry out this project, each of us chose a town in Hauts-de-France to then carry out a local case
            study on it.</p>
        <p class="text-muted">These local case studies are also accessible by scanning the nfc located behind certain
            city names.</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1pIotJ-8wsFAws_VXH0PNYpIWLAjE05gcVlmCzGU1ozM/edit?usp=sharing" target="_blank">Wambrechies</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1pIotJ-8wsFAws_VXH0PNYpIWLAjE05gcVlmCzGU1ozM/edit?usp=sharing" target="_blank">Lille</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1U90_lsUPU0J_sNkzAjSYHcazQsLWYWKR6v_LjMLuoNk/edit?usp=sharing" target="_blank">Marcq-en-Baroeul</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1tROxspe5t-pYbng9__zMZ51fD7RZgzmHk-WaxNxiHyk/edit?usp=sharing" target="_blank">Linselles</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1QLZZqn5JKnfKt804JNCpze2OYVCl2Gpjq7nw5G9BbMc/edit?usp=sharing" target="_blank">Arras</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1aFNIfOeXPuaF7-l2B5fHM52XfxGqPFblviAxAVNFIKo/edit?usp=sharing" target="_blank">Douai</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1EF4L_fWe9eVF3g_MuFBBC0DG8l6JCtjzgBAiAJI8dfg/edit?usp=sharing" target="_blank">Roubaix</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1Cxf91Ogh5itY-u-Rxkrc1iXFBv1hm6rCuyhbozGRIv8/edit?usp=sharing" target="_blank">Wervicq Sud</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1povYz_Hh5gXmzEpinKievtjxY7R67AH6_BYv5PW2GVc/edit?usp=sharing" target="_blank">Noyon</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/11iDau9gO3VHnQFhYay79doKtVWvr9Adb_XcSdOld9VM/edit?usp=sharing" target="_blank">Amiens</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1gua6eBhXtQeL10PXJLOdwl016HDk4qtjpleU4Qim27U/edit?usp=sharing" target="_blank">Armentières</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1o3_LlS0tGZNpWwuWzUaQROrTMnfKDCPPokAtFSqY2oA/edit?usp=sharing" target="_blank">Verdun</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/14aRPO2VENqzaKr2LyV0uDpJJBlEFyGLYy38JcBZfOrc/edit?usp=sharing" target="_blank">Tourcoing</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1t2eWiCX5HZwLkq2uTerNAU-BTIBCFK4ecSrXqYslFCA/edit?usp=sharing" target="_blank">Le Havre</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1e-0D7vOCT34-4KgXYLg9fbh6mzgiOxpvSCmSrsweKwk/edit?usp=sharing" target="_blank">Lens</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1f3AW7RRaY3Z0hC7DO2YgHwNcS7pESqFsB3puoCwwonU/edit?usp=sharing" target="_blank">Dunkerque</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1evNy3Iumh2eY9NXvSlP4OWOKbhuPD_IzbykuWJSFKnk/edit?usp=sharing" target="_blank">Quesnoy sur Deule</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/12fyQ3dIq7GgOGBqpPZLZ63PhYXlR_z37KBd2JvQq35U/edit?usp=sharing" target="_blank">Senlis</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>