<%- include('../partials/header.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <h2>Personal Case Study</h2>
        <hr>
        <p>With this map project, we want to do a real job as a historian by all investigating
            our own family as well as a consecrated city. In addition, this project is also the duty of
            remembrance for all the dead and victims of the war in the Hauts-de-France region.</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Person</th>
                    <th scope="col">Summary</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </main>
</body>