<%- include('../partials/header.ejs') %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <h2>Personal Case Study</h2>
        <hr>
        <p>With this map project, we want to do a real job as a historian by all investigating
            our own family as well as a consecrated city. In addition, this project is also the duty of
            remembrance for all the dead and victims of the war in the Hauts-de-France region.</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Person</th>
                    <th scope="col">Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1cULWdojjizA59uekfx6gSr_GewBWtpN1aLtcD2xF_5I/edit?usp=sharing"
                            target="_blank">Adrien</a>
                    </td>
                    <td style="width:60%">
                        Armand le Douarec (1884-1965): He was a lieutenant during WWI. In 1917 he was a interpreter for
                        the US Amry. + Albert Picard (artillery + from the north of France)
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1e-QaAdjfl-mU8WKOhjRXq2s2an8BkmKm_mizFkWLaDQ/edit?usp=sharing"
                            target="_blank">Gaspard</a>
                    </td>
                    <td style="width:60%">
                        Royal Army Medical Corps
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1fb4LXFiWjIFHZKz5E8vBv_DA7bjPVumHv8bRuAgvMhs/edit?usp=sharing"
                            target="_blank">Théo G</a>
                    </td>
                    <td style="width:60%">
                        The “Gueules Cassées”’, a tragic aftermath
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1zK_bR1YO8XSYIXtg0XmYxEH0xrZNJ3Cw6O3ex6sga7Y/edit?usp=sharing"
                            target="_blank">Sofia</a>
                    </td>
                    <td style="width:60%">
                        French colonial African soldiers on the Western front
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1zK_bR1YO8XSYIXtg0XmYxEH0xrZNJ3Cw6O3ex6sga7Y/edit?usp=sharing"
                            target="_blank">Sofia</a>
                    </td>
                    <td style="width:60%">
                        French colonial African soldiers on the Western front
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/13KN-GhfQg5IYkAkBNkUxm6FyN4jwzhEqKxLzGQaL-3Y/edit?usp=sharing"
                            target="_blank">Theo M</a>
                    </td>
                    <td style="width:60%">
                        Personal Case Study All quiet on the western front
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1zk_VUiKLQBsFzUyI-GaNre-GHBq-AhWGktYFk9bSa9s/edit?usp=sharing"
                            target="_blank">Victoria</a>
                    </td>
                    <td style="width:60%">
                        Russian expeditionary force in France during WW1
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1Vmhy4tZDHLc7y9VyNGUp5ufaJqcCKVb58T-cHTpht9A/edit?usp=sharing"
                            target="_blank">Rio</a>
                    </td>
                    <td style="width:60%">
                        American forces on the Western front
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1ETXwGCA4u-1wutkLDYsahwt_MqdnCJQJ7a5tCMASo-U/edit?usp=sharing"
                            target="_blank">Olivia</a>
                    </td>
                    <td style="width:60%">
                        (English side) Sir Arthur Wagram Money, served in Mesopotamia in 1915 /(French side) Did the
                        Battle of Verdun and finished by picking up dead bodies
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1ulOqU8bIqfYzDH1_YrJlxni17k90sJg5v0_WN02Iu2M/edit?usp=sharing"
                            target="_blank">Matthieu</a>
                    </td>
                    <td style="width:60%">
                        The Chinese labor Corps
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/16-Mnts6oSIiZfBa2ViSMb7Qug7UgcaOoZB4Z12HpORo/edit?usp=sharing"
                            target="_blank">Mario</a>
                    </td>
                    <td style="width:60%">
                        My grandmother's father participated in WW1 on the eastern front as he was held hostage by the
                        enemies. I will be reporting how he managed to escape and fight during this war.
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1bbBPgSqOcs8k3WWnBnhnMheOlzt7dEpN4FXN_zUQLZE/edit?usp=sharing"
                            target="_blank">Lily-Jade</a>
                    </td>
                    <td style="width:60%">
                        A soldier who's hand was blown up by a bomb shell
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/147UjmvCduU77c-nO_kSYdrr0-hKEcMai60LPlyis9D8/edit?usp=sharing"
                            target="_blank">Juliette</a>
                    </td>
                    <td style="width:60%">
                        My great-great-grandfather took part in battles at Verdun where he distinguished himself his
                        courage which earned him several citations and had the "chance" to came back after the war.
                    </td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1u_BkROCU5ml5CKIae31PV1K5ZwMKg0Bztkdke9y4UeE/edit?usp=sharing"
                            target="_blank">Iris</a>
                    </td>
                    <td style="width:60%">
                        My grandma's dad that fought in the war, got sick and came back to his regiment that just had
                        been attacked by the enemy, he was the last one alive. </td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1u_BkROCU5ml5CKIae31PV1K5ZwMKg0Bztkdke9y4UeE/edit?usp=sharing"
                            target="_blank">Iris</a>
                    </td>
                    <td style="width:60%">
                        My grandma's dad that fought in the war, got sick and came back to his regiment that just had
                        been attacked by the enemy, he was the last one alive. </td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1e-QaAdjfl-mU8WKOhjRXq2s2an8BkmKm_mizFkWLaDQ/edit?usp=sharing"
                            target="_blank">Gaspard</a>
                    </td>
                    <td style="width:60%">
                        Royal Army Medical Corps
                    </td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/19D6hsn6S_O6JU-htogfJ7An-X7tPykl-mP5d4udf9h4/edit?usp=sharing"
                            target="_blank">Fanny</a>
                    </td>
                    <td style="width:60%">
                        Chinese culture 
                    </td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1wl48cqp1AHNYFfAt6N6atK50_W7G4o4UIf1P_HJNx_Y/edit?usp=sharing"
                            target="_blank">Caio</a>
                    </td>
                    <td style="width:60%">
                        The story of Louis Hébrard and the Gallipoli expedition 
                    </td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1inyVGZK_kcAo_T47XypqpgMuvyDhZEwNcVPLe_3LysE/edit?usp=sharing"
                            target="_blank">Arthur</a>
                    </td>
                    <td style="width:60%">
                        Canadian Army
                    </td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/13qvHNuhGxCq-04puZWiqiz9lvAey_ZdIBRig4rFMIqs/edit?usp=sharing"
                            target="_blank">Arlo</a>
                    </td>
                    <td style="width:60%">
                        Indian soldiers during WW1
                    </td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/16dgB53LlYvZI5mh5xhknMp38f6b7YMmoQBka7p9XXp4/edit?usp=sharing"
                            target="_blank">Ambre</a>
                    </td>
                    <td style="width:60%">
                        The Dairy of Laurence Ducreucq
                    </td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>
                        <a href="https://docs.google.com/presentation/d/1OGODgSKdUTf6PVC3537NPJwJI-xbkZrf84GNAXkeyQ0/edit?usp=sharing"
                            target="_blank">Alix</a>
                    </td>
                    <td style="width:60%">
                        Presentation of the uncles of the mother of my grandfather, Jacques and Édouard Dhalluin. Letter from a commander announcing the death of Édouard and a journal kept by their mother talking about Jacques' life and death announcement. Both were dead in northern France in 1915
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>